body {
  background: url(img/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  height: 100vh;
  margin: 0;
  padding: 0;
}

#header, #footer, #sidebar {
  display: none;
}

* {
  align-content: center;
  text-align: center;
}

.enlace {
  cursor: pointer;
  color: #52a535;
  text-decoration: none;
  cursor: pointer;
}

.enlace:hover {
  text-decoration: underline;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95vh; /* Asigna una altura mínima al contenedor para que ocupe toda la pantalla */
}

.botones {display: flex;}

.boton {
  transition: 500ms;
  background-color: #333941;
  text-decoration: none;
  border: 0;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  font-size: 20px;
  padding: 8px 24px 8px 24px;
  text-transform: uppercase;
  box-shadow: 0px 0px 0px 2px #4a5462, 0px 4px 0px 2px #1c2024, 0px 4px 0px 4px #000000, 0px 0px 0px 4px #000000;
}
.boton:hover {
  padding: 10px 24px 6px 24px;
  background-color: #5c6572;
  box-shadow: 0px 0px 0px 2px #818d9f, 0px 4px 0px 2px #3d424b, 0px 4px 0px 4px #000000, 0px 0px 0px 4px #000000;
}
.boton span {
  text-align: center;
  width: 100%;
}



/*----------------*/

.info {

  box-shadow: rgb(0, 0, 0) 0px 4px 0px 0px inset, rgb(58, 55, 53) 0px -4px 0px 0px inset, rgb(58, 55, 53) 4px 0px 0px 0px inset, rgb(0, 0, 0) -4px 0px 0px 0px inset;
  background-color: rgb(23, 22, 21);
  align-items: center;
  padding: 24px 32px;
  margin: 32px auto;
  max-width: 70%;
  opacity: 0.8;
  color: #ffffff;
    }
h2 {
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  letter-spacing: 0.25px;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
  color: rgb(237, 229, 226);
  margin: 0px 0px 4px;
  text-transform: none;
  /*display: flex;*/
}
h2 span {font-weight: 300 !important;}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0px;
  color: rgb(208, 197, 192);
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
}
 

/* Escritorio (mínimo 768px) */
@media (min-width: 768px) {
  .botones {
    flex-direction: row; /* Disponer botones en fila */
  }
  .boton {max-width: -webkit-fill-available;}
}

/* Móvil (máximo 767px) */
@media (max-width: 767px) {
  .botones {
    flex-direction: column; /* Disponer botones en columna */
  }
  .boton {max-width: -webkit-fill-available;}
}

/*----------------*/

.read-more-state {
  display: none;
}
.read-more-target {
  display: none;
  font-size: 0;
  transition: .25s ease;
  max-width: 512px;

}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
  display: inline-block;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Mostrar jugadores';
}
.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Ocultar jugadores';
}
.read-more-trigger {
  display: inline-block;
  padding-top: 16px;
}
