* {image-rendering: pixelated;}
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}
/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -25px;
  padding: 7px;
  width: 50px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
td {
  text-align: left;
  padding: 0 8px;
}
td.entrenador {
  font-weight: bold;
  width: 50%;
}
td.gimnasio {
  font-weight: bold;
  width: 50%;
}
td.medallas {
}
td.medallas img {
    margin-top: 8px;
}
td.medallas img a {
    margin-top: 8px;
}
.medallas a {
    text-decoration: none !important;
}
tr:nth-child(even) {background-color: #272727;}
table, td { width: 100%; }

entrenador {
  display: block;
  text-align: left;
  padding: 4px 0;
}
medallas {
  text-align: left;
  color: yellow;
}

td.gimnasio medallas {
  display: block;
}

.info2 {
    display: none;
    background-color: #2f2f2f;
    color: #aaaaaa;
    align-items: center;
    padding: 24px 32px;
    margin: 32px auto;
    box-shadow: inset 0 3px 0px rgba(255,255,255,0.3),
              inset 3px 0px 0px rgba(255,255,255,0.2),
              inset 0 -3px 0px rgba(0,0,0,0.2),
              inset -3px 0px 0px rgba(0,0,0,0.1),
              3px 0px 0px #2f2f2f,
              -3px 0px 0px #2f2f2f,
              0px 3px 0px #2f2f2f,
              0px -3px 0px #2f2f2f;
    position: fixed;
    right: 20px;
    top: 35%;
    width: 200px;
}

.info3{
    text-align: right;
}
/*body { cursor: url({{ url_for('static', filename='img/cursor.png') }}) , default !important;

        }*/
/*cursor: url(https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png)   , pointer !important*/
/*cursor: url(https://cdn.custom-cursor.com/db/13574/32/minimal-pikachu-cursor.png) , default !important*/

div#entrenadores, div#gimnasios {
    max-width: 85%;
    overflow-x: auto;
    padding: 16px;
    width: 600px;
    overflow-y: hidden;
}

/*#entrenadores table:before {
    content: 'ℹ️ Aun no hay entrenadores con medallas.';
    margin: 32px;
    display: block;
    text-align: center;
    width: 100%;
}*/